<%= raw best_in_place_if user_signed_in?, @page, :content, type: :textarea, sanitize: false %>

<% if @page.has_posts? && user_signed_in? %>
	<div>
		<a href="#myModal" role="button" class="btn" data-toggle="modal">New <%= @page.post_type.singularize %></a>
		<%= render "posts/#{@page.post_type.downcase}_form" %>
	</div>
<% end %>

<% @page.posts.each do |post| %>
  <div class="post">
    <%= link_to post.title, post %> <%= link_to raw("&times;"), post, method: :delete, confirm: "Are you sure?" %>
  </div>
<% end %>

<div style="margin-top: 18px;">
  <%= link_to 'Edit Page', edit_page_path(@page) %>
</div>