<%= raw @page.content %>

<% if @page.has_posts? %>
  <p>New <%= @page.post_type.singularize %></p>
  <%= render 'posts/form' %>
  <br>
<% end %>

<% @page.posts.each do |post| %>
  <div class="post">
    <%= link_to post.title, post %> <%= link_to raw("&times;"), post, method: :delete, confirm: "Are you sure?" %>
  </div>
<% end %>

<div>
  <%= link_to 'Edit Page', edit_page_path(@page) %>
</div>