<div class="container">
  <div class="row">
    <div class="span12">
      <!-- <%= raw best_in_place_if user_signed_in?, @page, :content, type: :textarea, sanitize: false %>-->  
      <div>
        <%= raw @page.content %>
      </div>
      <% @page.posts.each do |post| %>
        <div class="post">
          <%= render "posts/#{@page.post_type.singularize.downcase}", :post => post %>
        </div>
      <% end %>
    <div class="clearfix"></div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="newPostArea">
    <div class="btn-group">
      <%= link_to 'Edit Page', edit_page_path(@page), class: "btn btn-inverse" %>
      <%= link_to "Add #{@page.post_type.singularize.capitalize}", "##{@page.post_type}Modal", role: 'button', class: 'btn btn-inverse', data: {toggle: 'modal'} if @page.has_posts? %>
    </div>
  </div>
  <%= render "posts/#{@page.post_type.downcase}_modal", :post => Post.new, :page_id => @page.id if @page.has_posts? %>
<% end %>