<div class="documentsForm">
  <%= form_for post do |f| %>
  <div class="inputArea">
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(post.errors.count, "error") %> 
           prohibited this post from being saved:
        </h2>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag 'page_id', page_id %>
    <%= f.text_field :title, placeholder: "Title" %><br>
    <%= f.file_field :attachment %><br>
  </div>
  <div class="submitArea">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %> 
</div>
