<div class="photoPost">
  <%= image_tag post.attachment.url %>
  <div class="photoTitle"><%= post.title %></div>
  <div class="photoInfo">
    Uploaded <%= time_ago_in_words(post.created_at) %> ago</p>
  </div>
  <div class="postControls">
      <%= link_to raw("<i class='icon-edit'></i>"), edit_post_path(post) %>
      <%= link_to raw("<i class='icon-trash'></i>"), post, method: :delete,
      confirm: "Are you sure you want to delete this document?" %>
  </div>

</div>