<%= render @post.post_type.downcase.singularize %>

<p>
  <%= link_to "Edit", "##{@post.post_type.singularize}Modal", role: 'button', data: {toggle: 'modal'} %> | 
  <%= link_to "Delete", post_path(@post), method: :delete, confirm: "Are you sure?" %>

</p>

<p>
  <%= link_to "Back", page_url(@post.page, subdomain: @post.page.site.subdomain) %>
</p>

<%= render "#{@post.post_type.downcase}_form", :post => @post, :page_id => @post.page.id %>
