<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :layout %>
    <%= f.select :layout, [["Grey", 'site'], ["Red", 'red']] %>
  </div>
  <div class="field" id="custom_layout_fields">
    <%= f.label :custom_layout_content %>
    <%= f.text_area :custom_layout_content, :rows => 4 %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <div class="clearfix"></div>
<% end %>
