<div class="siteDash" id="siteDash<%= site.id %>">
  <h4><%= site.name %></h4>
  <div class="pull-left">
    <%= link_to "View", root_url(subdomain: site.subdomain) %>
    | <%= link_to "Edit", edit_site_url(subdomain: site.subdomain) %>
    | <%= link_to "Delete", site_path(site), method: :delete %>
    <br/>
    <br/>
    <%= link_to "New Post", "#new_post_modal", role: 'button', class: 'btn', data: {toggle: 'modal'} %>

    <div id="new_post_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">New Post</h3>
      </div>
      <div class="modal-body">
        TODO: Need to select page, then create a post instance of the proper type, then render the right form.
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= submit_tag "Save", class: "btn btn-primary" %>
      </div>
    </div>


    <hr/>
    <%= pluralize site.posts.size, "post" %><br/>
  </div>
  
  <div class="assignedMngrs">
    <h5>Managers Assigned:</h5>
    <div class="viewMngrs" id="viewMngrs<%= site.id %>">
      <div class="mngrList">
        <ul>
          <% site.managers.each do |manager| %>
            <li><%= manager.email %></li>
          <% end %>
        </ul>
      </div>
      <a class="editMngrLink" id="editMngrLink<%= site.id %>" href="#">
        Change Managers
      </a>
    </div>
  
    <div class="editMngrs" id="editMngrs<%= site.id %>">
      <%= form_for site, :remote => true do |f| %>
        <%= hidden_field_tag "site[manager_ids][]", nil %>
        <% current_company.users.where(:manager => true).each do |user| %>
          <label class="checkbox">
            <%= check_box_tag "site[manager_ids][]", user.id, 
                user.manages?(site), id: dom_id(user) %>
            <%= user.email %>
          </label>
        <% end %>
        <div class="actions">
          <%= image_tag "loading.gif", class: "spinner" %>
          <a href="#" class="editMngrCancel" id="editMngrCancel<%= site.id %>">
            cancel</a>
          <%= f.submit "Save", class: "btn btn-info editMngrSubmit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
