<div class="pull-left">
  <h3><%= site.name %></h3>
  <%= link_to "View", root_url(subdomain: site.subdomain) %>
  | <%= link_to "Edit", edit_site_url(subdomain: site.subdomain) %>
  | <%= link_to "Delete", site_path(site), method: :delete %>
  <!-- TODO: delete isn't working right due to URL issue -->
  <br/>
  <br/>


  <!-- TODO: move this somewhere else? controller / helper / model ??? -->
  <% 
    newsPageId  = site.pages.where(:post_type => "news").first().id  
    docPageId   = site.pages.where(:post_type => "documents").first().id  
    photoPageId = site.pages.where(:post_type => "photos").first().id  
  %>

  <div class="btn-group newPostMenu">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      New Post &nbsp
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <a href="#newsModal" data-toggle="modal" 
              class="newPostBtn" id="newPostBtn<%= newsPageId %>">News</a></li>
      <li> <a href="#documentsModal" data-toggle="modal" 
              class="newPostBtn" id="newPostBtn<%= docPageId %>">Document</a></li>
      <li> <a href="#photosModal" data-toggle="modal" 
              class="newPostBtn" id="newPostBtn<%= photoPageId %>">Photo</a></li>
    </ul>
  </div>

  <div class="recentActivity">
    <h4>Recent Activity</h4>
    <% site.posts.each do |post| %>
      <i>Posted <%= post.post_type.singularize %>:</i> &nbsp 
      <%= post.title %> 
      <br>
      <br>
    <% end %>
  </div>

</div> <!-- end pull-left -->

<div class="pull-right">
  <div class="assignedMngrs box">
    <div class="boxTitle">Managers Assigned</div>
    <div class="boxContent">
      <div class="viewMngrs" id="viewMngrs<%= site.id %>">
        <div class="mngrList">
          <ul>
            <% site.managers.each do |manager| %>
              <li><i class="icon-user"></i><%= manager.email %></li>
            <% end %>
          </ul>
        </div>
        <a class="editMngrLink" id="editMngrLink<%= site.id %>" href="#">
          Change Managers
        </a>
      </div>
  
      <div class="editMngrs" id="editMngrs<%= site.id %>">
        <%= form_for site, :remote => true do |f| %>
          <%= hidden_field_tag "site[manager_ids][]", nil %>
          <% current_company.users.where(:manager => true).each do |user| %>
            <label class="checkbox">
              <%= check_box_tag "site[manager_ids][]", user.id, 
                  user.manages?(site), id: dom_id(user) %>
              <%= user.email %>
            </label>
          <% end %>
          <div class="actions">
            <%= image_tag "loading.gif", class: "spinner" %>
            <a href="#" class="editMngrCancel" id="editMngrCancel<%= site.id %>">
             cancel</a>
            <%= f.submit "Save", class: "btn btn-info editMngrSubmit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div> <!-- end assignedManagers -->
  
  
  <div class="residents box">
    <div class="boxTitle">Residents</div>
    <div class="boxContent">
      <ul>
        <li><i class="icon-user"></i>John Smith</li>
        <li><i class="icon-user"></i>Nico Bobbyness</li>
        <li><i class="icon-user"></i>Jessica Helbow</li>
      </ul>
    </div>
  </div> <!-- end box -->

</div> <!-- end pull right -->


