<div class="siteDash" id="siteDash<%= site.id %>">
  <h4><%= site.name %></h4>
  <div class="pull-left">
    <%= link_to "View", root_url(subdomain: site.subdomain) %>
    | <%= link_to "Edit", edit_site_url(subdomain: site.subdomain) %>
    | <%= link_to "Delete", site_path(site), method: :delete %>
    <br/>
    <br/>
    <%= pluralize site.posts.size, "post" %><br/>
  </div>
  
  <div class="assignedMngrs">
    <h5>Assigned Managers:</h5>
    <div class="viewMngrs" id="viewMngrs<%= site.id %>">
      <div class="mngrList">
        <ul>
          <% site.managers.each do |manager| %>
            <li><%= manager.email %></li>
          <% end %>
        </ul>
      </div>
      <a class="editMngrLink" id="editMngrLink<%= site.id %>" href="#">
        change managers
      </a>
    </div>
  
    <div class="editMngrs" id="editMngrs<%= site.id %>">
      <%= form_for site, :remote => true do |f| %>
        <%= hidden_field_tag "site[manager_ids][]", nil %>
        <% current_company.users.where(:manager => true).each do |user| %>
          <label class="checkbox">
            <%= check_box_tag "site[manager_ids][]", user.id, 
                user.manages?(site), id: dom_id(user) %>
            <%= user.email %>
          </label>
        <% end %>
        <div class="actions">
          <a href="#" class="editMngrCancel" id="editMngrCancel<%= site.id %>">
            cancel</a>
          <%= f.submit "Save", class: "btn btn-info"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
