<div class="pull-left">
  <h2><%= site.name %></h2>
  <%= link_to "View", root_url(subdomain: site.subdomain), :target=>"_blank" %>
  | <%= link_to "Edit", edit_site_url(subdomain: site.subdomain) %>
  | <%= link_to "Delete", site_path(site), method: :delete, confirm: "Are you sure?" %>
  <!-- TODO: delete isn't working right due to URL issue -->
  <br/>
  <br/>


  <!-- TODO: move this somewhere else? controller / helper / model ??? -->
  <% 
    newsPageId  = site.pages.where(:post_type => "news").first().id  
    docPageId   = site.pages.where(:post_type => "documents").first().id  
    photoPageId = site.pages.where(:post_type => "photos").first().id  
  %>

  <div class="btn-group newPostMenu">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      New Post &nbsp
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li> <a href="#newsModal" data-toggle="modal" 
              class="newPostBtn" id="newPostBtn<%= newsPageId %>">News</a></li>
      <li> <a href="#documentsModal" data-toggle="modal" 
              class="newPostBtn" id="newPostBtn<%= docPageId %>">Document</a></li>
      <li> <a href="#photosModal" data-toggle="modal" 
              class="newPostBtn" id="newPostBtn<%= photoPageId %>">Photo</a></li>
    </ul>
  </div>

  <div class="recentActivity">
    <h4>Recent Activity</h4>
    <% site.posts.take(10).each do |post| %>

    <!-- TODO: make a helper or something for this -->    
    <% iconClass =  post.post_type=="news"       ? "icon-bullhorn" :
                    post.post_type=="photos"     ? "icon-picture"  : 
                                                   "icon-picture" %>

      <div class="postTitle">
        <%= link_to raw('<i class="' + iconClass + '"></i> &nbsp' + post.title),
            root_url(subdomain: site.subdomain)+post.post_type, :target=>"_blank" %>
      </div>
      <div class="postInfo">
        <%= post.post_type.singularize.capitalize %> posted
        <%= time_ago_in_words(post.created_at) %> ago
      </div>
    <% end %>
  </div>

</div> <!-- end pull-left -->

<div class="pull-right">

  <div class="assignedMngrs box">
    <div class="boxTitle">Managers Assigned</div>
    <div class="boxContent">
      <div class="viewMngrs" id="viewMngrs<%= site.id %>">
        <div class="mngrList">
          <ul>
            <% site.managers.each do |manager| %>
              <li><i class="icon-user"></i><%= manager.email %></li>
            <% end %>
          </ul>
        </div>
        <a class="editMngrLink" id="editMngrLink<%= site.id %>" href="#">
          Assign Managers
        </a>
      </div>
  
      <div class="editMngrs" id="editMngrs<%= site.id %>">
        <%= form_for site, :remote => true do |f| %>
          <%= hidden_field_tag "site[manager_ids][]", nil %>
          <% current_company.users.where(:manager => true).each do |user| %>
            <label class="checkbox">
              <%= check_box_tag "site[manager_ids][]", user.id, 
                  user.manages?(site), id: dom_id(user) %>
              <%= user.email %>
            </label>
          <% end %>
          <div class="actions">
            <%= image_tag "loading.gif", class: "spinner" %>
            <a href="#" class="editMngrCancel" id="editMngrCancel<%= site.id %>">
             cancel</a>
            <%= f.submit "Save", class: "btn btn-info editMngrSubmit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div> <!-- end assignedManagers -->
  


  <div class="residents box">
    <div class="boxTitle">Residents</div>
    <div class="boxContent">
      <div class="viewRes">
        <div class="list">
          <ul>
            <% site.members.each do |member| %>
              <li><i class="icon-user"></i><%= member.email %></li>
            <% end %>
          </ul>
        </div>
        <%= link_to "Edit Residents", edit_site_url(subdomain: site.subdomain)+'#residents', 
            class: "editResLink" %>
        </a>
      </div>
  
    </div>
  </div> <!-- end Residents -->
  
</div> <!-- end pull right -->


