
<div id="managersTab">
  <h3>Managers</h3>
  <ul>
    <% current_company.users.where(:manager => true).each do |user| %>
    <li>
      <%=  user.email %>
    </li>
    <% end %>
  </ul>
  
  <div id="addManagerBtn" class="btn btn-info">Add Managers</div>
  
  <%= form_tag batch_create_managers_memberships_path, :method => :post do %>
  <div id="addManagerDialog">
    <strong> Invite managers by email</strong><br/>
    <span class="muted">(separated by commas)</span>
    <%= text_area_tag :emails %>
    <div class="submitArea">
      <a id="addManagerCancel" href="#">cancel</a> &nbsp
      <%= submit_tag "Invite!", class: "btn btn-info", id: "addManagerSubmit" %>
    </div>
    <div class="clearfix"></div>
    <div id="emailError"></div>        
  </div>
  <% end %>
  
</div>  <!-- end managers -->



<div id="sitesTab">
  <%= render "sites_tab" %>
</div> <!-- end sites -->



