<div class="row">
  <div class="container mainContainer">

    <h1><%= current_company.name if current_company %></h1>

    <div class="row-fluid">

      <div class="managers span3">
        <h3>Managers</h3>
        <ul>
          <% current_company.users.where(:manager => true).each do |user| %>
          <li>
            <%=  user.email %>
          </li>
          <% end %>
        </ul>

        <div id="addManagerBtn" class="btn btn-info">Add Managers</div>

        <%= form_tag batch_create_managers_memberships_path, :method => :post do %>
        <div id="addManagerDialog">
          <strong> Invite managers by email</strong><br/>
          <span class="muted">(separated by commas)</span>
          <%= text_area_tag :emails %>
          <div class="submitArea">
            <a id="addManagerCancel" href="#">cancel</a> &nbsp
            <%= submit_tag "Invite!", class: "btn btn-info", id: "addManagerSubmit" %>
          </div>
          <div class="clearfix"></div>
          <div id="emailError"></div>        
        </div>
        <% end %>

      </div>  <!-- end managers -->



      <div class="sites span9">
        <h3>Sites</h3>
        <% if @sites.length > 0 %>

        <%= link_to "New Site", new_site_path, class: "btn btn-info newSiteBtn" %>

        <div class="siteTabs tabbable tabs-left">
          <ul class="nav nav-tabs">
            <% @sites.each do |site| %>
            <li>
              <a class="tab-link" id="tab-link<%= site.id %>"href="#">
              <%= site.name %>
            </a>
            </li>
            <% end %>
          </ul>

          <div class="tab-content">
            <% @sites.each do |site| %>
            <div class="tab-pane active" id="tab-pane<%= site.id %>">
              <%= render "site_dash", :site => site%>
            </div>
            <% end %>
          </div>
        </div>

        <!-- modal for posts -->
        <!-- NOTE: page_id is later filled in by javascript -->
        <%= render "posts/news_modal",      :post => Post.new, :page_id => -1 %>
        <%= render "posts/documents_modal", :post => Post.new, :page_id => -1 %>
        <%= render "posts/photos_modal",    :post => Post.new, :page_id => -1 %>

        
        <% else %> <!-- no sites exist yet -->

        <div class="noContent">
          <h4>Create your first site!</h4>
          <%= form_for Site.new do |f| %>
          <div class="field">
            <%= f.text_field :name, placeholder: "Name" %>
          </div>
          <div class="field">
            <%= f.text_field :subdomain, placeholder: "Subdomain" %>
          </div>
          <div class="field">
            <%= f.label :layout %>
            <%= f.select :layout, [["Grey", 'site'], ["Red", 'red']] %>
          </div>
          <div class="submitArea">
            <%= f.submit :id => "newSiteBtn", :class => "btn btn-info" %>
            <div id="newSiteErr"></div>
          </div>
          <div class="clearfix"></div>
          <% end %>
        </div>
        <% end %>
      </div> <!-- end sites -->


    </div> <!-- end row-fluid -->

  </div> <!-- end container -->
</div> <!-- end row -->

