<div id="user_nav">
	<% if current_user %>
        <span class="username"><%= current_user.email %></span><br/>
          <%= link_to "Dashboard", sites_path %> | 
	  <% if current_site %>
	  	<%= link_to "Edit Site", edit_site_path() %> |
	  <% end %>
	  <%= link_to "Settings", edit_user_registration_path %> |
	  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
	<% else %>
		<% unless on_site? %> 
	  	<%= link_to "Sign Up", new_user_registration_path %> or
	  <% end %>
	  <%= link_to "Log In", new_user_session_path %>
	<% end %>
</div>