<!DOCTYPE html>
<html>
  <head>
    <title>Condo Motion</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if flash[:notice] %>
      <p class="flash alert alert-success"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="flash alert alert-error"><%= flash[:error] %></p>
    <% end %>  

    <div class="container">
      
      <%= render 'layouts/user_nav' %>
      <%= render 'home/nav' unless user_signed_in? %>

      <%= yield %>

    </div>
  </body>
</html>
