<!DOCTYPE html>
<html>
  <head>
    <title><%= current_site.name %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <style type="text/css">
      html, body { background: #C72E2E; }
    </style>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="user_nav">
      <% if current_user %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to "Dashboard", sites_url(subdomain: "www") %> |
        <%= link_to "Edit Profile", edit_user_registration_path %> |
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %> or
        <%= link_to "Log In", new_user_session_path %>
      <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <h1><%= current_site.name %></h1>

      <ul>
        <% current_site.pages.each do |page| %>
          <li><%= link_to page.name, page %></li>
        <% end %>
        <li><%= link_to "+", new_page_path %></li>
      </ul>

      <%= raw Liquid::Template.parse(current_site.custom_layout_content).
      render('page_content' => yield, 'page_title' => yield(:title)) %>

    </div>
  </body>
</html>