<!DOCTYPE html>
<html>
  <head>
    <title><%= current_site.name %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <style type="text/css">
      html, body { background: #CCC; }
    </style>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>

  <body class="<%= controller.controller_name %>">

    <div class="row mainHeader">
      <div class="title">
        <%= current_site.name %>
      </div>

      <ul class="site_menu">
        <% current_site.pages.each do |page| %>
          <li <%= "class=active" if page == @page %>><%= link_to page.name, page %></li>
        <% end %>
        <!-- <li><%= link_to "+", edit_site_path %></li> -->
      </ul>


      <div class="accountInfo">
        <%= render 'layouts/user_nav' %>
        <%= render 'home/nav' unless user_signed_in? %>
      </div>
      <div class="clearfix"></div>
      </div>
    </div> <!-- end row mainHeader-->



    <% if flash[:notice] %>
      <p class="flash alert alert-success"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="flash alert alert-error"><%= flash[:error] %></p>
    <% end %>  

    <div class="container" style="padding: 20px; background: #fff; margin-top: 20px;">
      


      <%= yield %>

    </div>
  </body>
</html>