<!DOCTYPE html>
<html>
  <head>
    <title><%= current_site.name %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <style type="text/css">
      html, body { background: #CCC; }
    </style>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      
      <%= render 'layouts/user_nav' %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <ul class="site_menu">
        <% current_site.pages.each do |page| %>
          <li><%= link_to page.name, page %></li>
        <% end %>
        <li><%= link_to "+", edit_site_path %></li>
      </ul>

      <%= yield %>
      
    </div>
  </body>
</html>